.container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    animation: zoomBg 12s ease-in-out infinite alternate;
}

/* Dark overlay with fade-in */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

/* Main Title */
.title {
    font-size: 12vw;
    font-weight: 900;
    letter-spacing: 6px;
    color: #eef0f6;
    text-align: center;
    z-index: 2;
    

    font-family: 'Manrope', sans-serif;

    opacity: 0;
    animation: textFade 2.5s ease-in forwards;

    text-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
}


/* Overlay fade */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

/* Text animation */
@keyframes textFade {
    from {
        opacity: 0;
        transform: translateY(30px);
        transform: scaleX(1);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: scaleX(1.2);
    }
}

/* Subtitle */
.subtitle {
  margin-top: 12px;
  font-size: clamp(10px, 2vw, 24px);
  letter-spacing: 5px;
  color: #eef0f6;
  text-align: center;
  z-index: 2;
  font-weight: 900;

  font-family: 'Manrope', sans-serif;

  opacity: 1;
  animation: textFade 3.5s ease-in forwards;
  text-shadow:
    1px 1px 0px #aaa;
}

/* Background zoom */
@keyframes zoomBg {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.modelCanvas {
  position: absolute;
  inset: 0;
  z-index: 1;        /* above overlay (z-index 0), below text (z-index 2) */
  pointer-events: none; /* so clicks pass through to text/buttons */
  opacity: 0.7;
}
.title {
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: 6px;
  color: #eef0f6;
  text-align: center;
  z-index: 2;
  font-family: 'Manrope', sans-serif;
  opacity: 0;
  animation: textFade 2.5s ease-in forwards;

  /* 👇 3D effect */
  text-shadow:
    1px 1px 0px #aaa,
    2px 2px 0px #999,
    3px 3px 0px #888,
    4px 4px 0px #777,
    5px 5px 0px #666,
    6px 6px 0px #555,
    7px 7px 0px #444,
    8px 8px 20px rgba(0,0,0,0.6);
}

@media screen and (max-width: 768px) {
  .title {
    text-shadow:
    1px 1px 0px #aaa,
    2px 2px 0px #999,
    3px 3px 0px #888;
  }
}
.title > .comma{
    /* border:2px solid white; */
    display: inline-block;
    transform: scaleX(-1);
    transform: rotate(180deg);
    margin-left: -2vw;
}