/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: #000000;
  z-index: 99;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.4s ease, visibility 0.4s ease;

}

.show {
  opacity: 1;
  visibility: visible;
}

/* TOP BAR */
.top {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;

  color: white;
  font-family: 'Manrope', sans-serif;
}


/* MAIN LAYOUT */
.content {
  display: flex;
  height: 100vh;
  box-sizing: border-box;

  padding: 60px 60px 40px 100px;

  overflow: hidden;
}

/* LEFT MENU */
.menu {
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 10px;
}

/* MENU ITEM */
.item {
  display: flex;
  align-items: baseline;
  gap: 16px;

  opacity: 0;
  transform: translateX(-80px);
}

/* ANIMATION */
.show .item {
  animation: slideLeft 0.6s ease forwards;
}

/* STAGGER */
.show .item:nth-child(1){animation-delay:0.1s;}
.show .item:nth-child(2){animation-delay:0.2s;}
.show .item:nth-child(3){animation-delay:0.3s;}
.show .item:nth-child(4){animation-delay:0.4s;}
.show .item:nth-child(5){animation-delay:0.5s;}
.show .item:nth-child(6){animation-delay:0.6s;}

.num {
  color: #777;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
}

.itemText {
  font-size: clamp(30px, 5vw, 60px);
  color: #e5e5e5;
  font-family: 'Manrope', sans-serif;
  font-weight: 900;
  transition: 0.3s;
}

.item:hover .itemText {
  transform: translateX(12px);
  color: white;
}

/* RIGHT PANEL */
.right {
  width: 320px;
  min-width: 280px;

  border-left: 1px solid rgba(255,255,255,0.1);
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right h4 {
  color: #888;
  margin-bottom: 10px;
}

/* ICONS */
.icons {
  display: flex;
  gap: 10px;
}

.icons > span {
  border: 1px solid rgba(255,255,255,0.2);
  /* padding: 10px; */
  border-radius: 50%;
  color: white;
  /* font-size: 12px; */
  width: 80px;
  align-content: center;
  justify-content: center;
  aspect-ratio: 1;
}
span > img{
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
    /* object-fit: contain; */
}

/* CONTACT */
.right p {
  color: white;
  font-size: 16px;
}

/* BUTTON */
.cta {
  padding: 12px 20px;
  border-radius: 30px;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* ANIMATION KEYFRAME */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
    .right {
        display: none;
    }
    .content {
        padding: 60px 60px 40px 50px;
    }
}